/public
/.phpunit.cache
/node_modules

/storage/*.key
/vendor

.env
.env.backup
.env.production
.phpunit.result.cache

docker-compose.override.yml

Homestead.json
Homestead.yaml
npm-debug.log
/package-lock.json
yarn-error.log
yarn.lock
package-lock.log
/.idea
/.vscode

# But not these files...
